body {
  background-color : #dddddd;

}

h1, h2, h3, h4, h5, h6 {
  color : #000;
  text-align: center;
}

a {
  color : #FF5E4D;
  transition: all 0.6s;
}

a:hover {
  color : #aaaaaa;
}

a::after {
  content: " >";

}

header {
  min-height: 80vh;
  background-image: url('images/1280_640.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
   padding: 3em;
}

h1 {
    font-size: 3em;
  margin-bottom: 1em;
}

h2 {
  color: #fff;
  padding: 1em
}

.header-content-block {
  background: rgba(170,170,170,0.6);
  padding : 22px;
  text-align: center;
}

.header-content-block h1 {
  font-size: 4.25em;
  margin-bottom: 0
}

#bio {
  min-height: 45vh;

  }

#bio h1 {


}

.bio-content-block {
  max-width: 960px;
  margin: 0 auto;
}

@media (min-width: 920px) {

#bio h1 {

}
.bio-content-block {
  display: flex;
  justify-content: space-around;
  }
}

.bio-content-block p {
  margin: 1em;
}


#comp {

  background-color: #FA8072;
  color : #fff;
}

#comp h1 {
    color : #fff;
}





.comp-section-content {
 display: flex;
 justify-content: space-around;
}

.comp-content {

  width : auto;
  margin : 20px;
}

.comp-content p {
  padding: 1em;

}

.comp-content img {
  width : 100%;
}

.comp-content a {
  color: #fff;
  display: block;
  padding : 1em;
  float: right;
}

#portfolio {

}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.portfolio-content-item {
  max-width: 400px;
  margin : 20px;
  position : relative;
}

.portfolio-content-item h2 {
  position: absolute;
  top : 50%;
  left : 50%;
  border: 1px solid red;
}

.portfolio-content-item img {
  width : 100%;
}

footer {

}
