body{
  background-color: #dddddd;
}

section {
    max-width: 42em;
    margin-right: auto;
    margin-left: auto;
    padding: 2em;
}


header{
  background-color: #AE082F;
  color:#ffffff ;
  padding : 6em;
  padding-bottom: 1em;
}

.newheader {
  background: #AE082F;
}

.newheader::after {
  background: #AE082F;
  content: " ";
  display:block;
  width: 120px;
  height: 120px;
  transform: translateX(-50%) translateY(-40%)  rotate(45deg);
  position: absolute;
  left: 50%;

  }

  .nastyadvert{
  background-color: #000;
  min-height: 90vh;
  color : #fff;
  background-image: url(1280_640.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nastyadvert h1 {
  font-size: 4em;
  font-family: Dosis;
  text-align: center;
  text-shadow: 1px 1px 2px black;

}

.mywork ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.mywork li {
  max-width: 400px;
  margin: 1em;
}

.mywork img {
  width: 100%
}
